# Zależności
node_modules/

# Wynik kompilacji (generowany przez build.mjs)
dist/

# Pliki systemowe
.DS_Store

# Logi
*.log

# Zmienne środowiskowe
.env
.env.*

# Katalogi edytorów/IDE
.idea/
.vscode/
